
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.main-page {
  font-family: 'Dancing Script';
  background: url('../img/interiors/Back01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bgLayer {
  background-color: rgba(255, 255, 255, 0.53);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-part, .sMediaDrop {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.header-button, .sMediaCont {
  margin: 3%;
  font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.header-button, .header-social {
  cursor: pointer;
}

.sMediaDrop {
  height: 0;
  width: 0;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.73);
  top: 10%;
  right: 20%;
  -webkit-transition: width 1.5s, height 1.5s;
  transition: width 1.5s, height 1.5s;
}

.sMediaCont:hover .sMediaDrop {
  height: 30vw;
  width: 40vw;
}

.sofImgCont, .socialLogosCont {
  width: 49%;
}

.socImg {
  height: 39%;
  margin: 1.5%;
  cursor: pointer;
}

.sofImg {
  width: 100%;
}

.mainLogoCont, .mainContactCont {
  width: 100%;
  text-align: center;
}

.mainContactCont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mainLogoImg, .textP {
  width: 53%;
}

.textP {
  margin-top: 7%;
  margin-left: 24%;
  font-family: 'Charm';
  font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.contactTxt {
  font-family: 'Lobster';
  font-size: calc(14px + (27 - 14) * ((100vw - 300px) / (1600 - 300)));
}
